@font-face {
    font-family: 'TheSans-Plain';
    src:

     url(../thesans/ArbFONTS-The-Sans-Plain-alinma.ttf)
  }
  @font-face {
    font-family: 'Simplified';
    src: url(../simplified-arabic-regular/Simplified\ Arabic\ Regular.ttf);
  }
  html{
    height: 100%;
  }
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'TheSans-Plain'!important;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
[dir="ltr"] body{
    font-family: 'Simplified';

}
a{
    text-decoration: none;
}
a:hover,a:checked,a:focus{
    color:rgb(131, 124, 124) !important;
}
ol,ul{
    padding-inline-start: 0px;
    margin-bottom: 0px;
    list-style: none;
    padding-left: 0px;
}
h5,h6,h2{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 0px;
}

select:focus > option:checked,a:focus,
input:focus {
  background: Transparent !important;
  border: 0px;

}
button:focus,.btn:hover {
    outline: none;
    border: Transparent;
  }
  .fas::before {
    font-weight: 400 !important;
}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1255px;
    }
}

  /*start-nav-top*/
.nav-top{
    background-color: #1F9DAC;
}

.vision-img{
    width: 120px;
    height: 66px;
}
.link-nav-top>a:not(:first-of-type){
margin: 0px 20px;
}
.link-nav-top>a{
    font-size: 18px;
    line-height: 16px;
}
.form-index input{
    border: 0px;
    background-color: transparent;
}
.form-index .input-group{
background-color: #fff;
border-radius: 30px;
}
.button-serch-form i{
    color:#1F9DAC;
}
.col-Social-Media  .fab {
    margin: 0px 10px;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 50%;
}
/*end-nav-top*/
/*navbar-index*/
.navbar-index .navbar-brand img{
    height: 95px;
    width: 133px;
}
.navbar-index .navbar-brand{
    margin-right: 0px;
}
.navbar-index {
    background: #fff;
}
.img-nav-link{
    height: 100px;
    width: 100px;
}
@media (min-width: 1200px){
    .navbar-index .navbar-nav .nav-link,
    .navbar-index .navbar-nav a
    {
padding-right: 14px;
padding-left: 14px;
    }
}
.navbar-index .navbar-nav .nav-link {
    color: #1F9DAC;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-transform: capitalize;
}
.navbar-index .navbar-nav .active,
.navbar-index .navbar-nav .show>.nav-link {
    color:#87C55F;
    font-weight: bold;
    line-height: 24px;
    text-transform: capitalize;
}
.navbar-index .navbar-nav .dropdown-menu{
    border: 0px;
    box-shadow: 0px 2px 25px #9e9e9e6e;
    padding: 10px;
}
.navbar-index .navbar-nav .dropdown-menu .dropdown-item{
    color: #1F9DAC;
    font-size: 16px;
    font-weight: 400;
    padding-right: 0px;
}
.navbar-index .dropdown-menu li:not(:last-child)>a{
    border-bottom: 1px solid #504f4f50;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 1px #00050038;
  }


/*end-navbar-index*/
/*title-page*/
.title-page{
    background-color: #F1EEEE;
}
.title-page-top{
    color: #87C55F;
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;
}
.title-page-left{
    color: #0A3639;
    font-size: 21px;
    font-weight: 400;
  }
/*title-page*/
/*start-footer*/
.component-footer{
    background-color: #0A3639;
  margin-top: auto;
    bottom: 0px;

}
.logo-footer{

    height: 80px;
}
@media (min-width: 780px) {
    .logo-footer{
        width: 100%;
        height: 80px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .logo-footer {
      width: 45%;
      height: 144px;
  }
}
@media (max-width: 779px) {
  .logo-footer{
    width: 160px;
    height: 109 !important;
  }

}
.social a{
    padding: 0px 5px;
}
.social{
    margin: 0px 10%;
}
@media (max-width: 576px) {
    .social a{
        padding: 0px 10px;
    }
    .social{
        text-align: center;
        margin-top: 5px;
        margin: 0px 0px;
    }

 }


.linke-footer-left{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-transform: capitalize;
}

.copyrights{
    background-color: #87C55F;
}
/*end-footer*/
/*content-us*/
.component-content-us{
    background-color:  #FAF9F9;

}
.img-content img{
width: 100%;
height: 100%;
}
.definten-content-us h6{
    color: #1F9DAC;
    font-size: 18px;
    font-weight: 400;
}
.definten-content-us h4{
    font-size: 44px;
    font-weight: 400px;
    line-height: 70px;
    color: #1F9DAC;
}
.definten-content-us h4 span{
    color: #87C55F;

}
.contact-method i{
    background-color: #1F9DAC !important;
    color: #fff;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-method a{
    font-size: 20px;
    color: #504F4F;
    font-weight: 400;
    direction: ltr;
}

.contact-method a span{
    color: #B7B7B7;
    font-size: 14px;
}
.definten-content-us .row{
    margin: 0px;
}
.form-content input, .form-content textarea, .form-content select {
    border: 0px;
    border-radius: 0px;
    font-size: 16px;
    box-shadow:0px 3px 6px #BEBEBE ;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #504f4f59

}
.form-content .input-group-text {
    box-shadow:0px 3px 6px #BEBEBE ;
    background-color: #fff;
    border: 0px;
    color: #504f4f59;
}
[dir="rtl"] form{
    font-family: 'TheSans','sans-serif' !important;
}
[dir="ltr"] form{
    font-family: 'Simplified' !important;
}
.btn-submit{
    background-color: #1F9DAC;
    border-radius: 0px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.form-content::placeholder{
    color: #504f4f59;
    font-size: 18px;

}
.component-maps iframe{
    width: 100%;
    height: 400px;
}
.div-group{
    box-shadow: 0px 2px 6px #0000002e inset;
    border-radius:12px;
    background-color: #fff;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    align-items: center;

}
.div-group h2{
    font-weight: bold;
    color: #504F4F;
    font-size: 20px;

}
.div-group span{
    background-color: #1F9DAC;
    color: #fff;
    border-radius: 15px;
    width: 50px;
    display: flex;
    justify-content: center;
    height: 55px;
    align-items: center;

}
@media (max-width:1130px) {
    .contact-method a{
        font-size: 14px;

    }
    .col-number-tombs p, .col-number-tombs h6 {
        font-size: 18px !important;
    }

}
/*end-content-us*/
/*The number of tombs*/
.component-number-tombs{
    background-image: url(../img/number.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 0;
    object-fit: cover;
    object-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #87c55f9e , #1f9dac99);
    opacity:0.6;
}
.col-number-tombs p,.col-number-tombs h6{
    font-size: 25px;
    font-weight: bold;
    line-height: 40px;
    color: #1B898D;
}
.col-number-tombs{
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9);
}
.col-number-tombs p{
    padding-top: 20px;
}

/*The number of tombs*/
/*start-death rate*/
.component-deat .nav-pills .nav-link.active,.component-deat .nav-pills .show>.nav-link {
    color: #fff;
    background-color:#1F9DAC;
}
.component-deat .nav-pills .nav-link{
    border: 1px solid #1F9DAC;
    border-radius: 13px;
    margin: 0px 20px;
    padding: 6px 40px;
    font-size: 18px;
    font-weight: bold;
    color: #1F9DAC;
}
.defintion-death .title-death{
    color: #1B898D;
    font-weight: bold;
    font-size: 35px;
}
.defintion-death pre{
    color:#504F4F;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
}
.img-death img{
    width: 100%;
    height: 100%;
}

.title-cases span{
    color: #504F4F;
    font-size: 29px;
    font-weight: 400;
    line-height: 30px;
}
.number-deat span{
    color: #87C55F;
    font-size: 17px !important;
}
.number-deat small{
    font-size: 25px;
    color: #1F9DAC;
}
.row-cases{
    position: relative;
    justify-content: center;
}

.link-previous h6{
    font-size: 28px;
    font-weight: bold;
    color: #1F9DAC;
}
.link-previous a{
    padding: 10px;
    box-shadow: 0px 3px 30px #00000030;
    color: #1F9DAC;
    font-size: 16px;
    font-weight: 400;
}
@media (max-width: 990px){
    .link-previous a{
        word-break: break-word;
        line-height: 37px;
    }

}
.img-hand{
    width: 38px;
    height: 50px;
}
.row-cases-col {
    box-shadow: 0px 3px 20px #00000030;
}
/*end-death rate*/
/*component-ikram*/
.component-ikram{
    background-image: url(../img/ikrem-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;
}
#over-component-ikram{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 0;
    object-fit: cover;
    object-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #87C55F , #1F9DAC);
    opacity: 0.8;
    -webkit-filter: brightness(0.8);
    filter: brightness(0.9);
}

.content-ikram h5{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    position: relative;
    z-index: 1;
}
.img-ikram,.number-ikram{
    z-index: 2;
    position: relative;
}
.col-ikram{
    background-color: #FFFFFF;

    padding: 40px 20px;
    height: 100%;
    justify-content: center;
}
.col-ikram img{
    width: 50px;
    height: 50px;
    filter: brightness(0) invert(1);
}
.number-ikram h4{

    font-size: 60px;

    line-height: 70px;
}
.number-ikram {
    color: #fff;
    font-weight: 400;
}
.number-ikram h6{
font-size: 23px;
}
.component-verse {
    position: relative;
}
.component-verse h6{
    color: #fff;
    font-size: 40px;
    font-weight: 400;
}
.component-verse h6 span{
display: block;
font-size: 30px;
}
/*component-ikram*/
/*title-supervisory*/
.title-supervisory{
    color: #1F9DAC;
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
}
.title-supervisory span{
    color: #87C55F;
    text-decoration: underline;
}
.item-supervisore{
    padding: 20px 30px;
    box-shadow: 0px 3px 40px #a4a3a36e;
    width: 85%;
    margin: auto;
    border-radius:10px;

}
.item-supervisore .img-item-supervisore{
    height: 105px;
    width: 100%;
    display: flex;
    margin: auto;
    max-width: max-content;
    margin-bottom: 10px;
}
.item-supervisore .link-index-super{
    color: #1F9DAC;
    font-weight: 400;
    font-size: 16px;
    opacity: 0;
    transition: .3s ease;
}
.item-supervisore h6 img{
    width: 15px;
    height: 10px;
}

.item-supervisore:hover .link-index-super,
.item-supervisore:hover
{
    opacity: 1;
    transform: scale(1.1)
}
/*title-supervisory*/
/*what do video*/
.component-what{
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgb(255, 255, 255) 60%), url(../img/how-video.png);
}
.title-what-video{
    font-weight: bold;
    font-size: 77px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: underline;

}

.carousel-iteme,.carousel-iteme video{
    width: 100%;
}
.carousel-iteme video{
    height: 500px;
}
.carousel-iteme .div-button {
    transform: scale(1);
}
.carousel-iteme #myBtn {
    background-image: url(../img/video-play.png);
}
/*end-what-do-video*/
/*link-memberships*/
.link-memberships ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.link-memberships ul li:nth-child(1){
    background-color:#ABDA8E;
}
.link-memberships ul li:nth-child(2){
    background-color:#8DC767;
}
.link-memberships ul li:nth-child(3){
    background-color:#7AC5C9;
}
.link-memberships ul li:nth-child(4){
    background-color:#269DAA;
}
.link-memberships ul li:hover{
    background-color: #0A3639 !important;
    transform: translateY(-10%);
    z-index: 2;
    transform: scaleY(1.1);
}
.img-Memberships{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
}
.floating-btns {
    bottom: -42px;
    left: 46px;
    flex-flow: column;
    z-index: 2;
}
.botton-witc{
    bottom: 10px;
}

@media (max-width: 992px){
    [dir="ltr"] .floating-btns {
        bottom: 55px !important;
        left: 1px;
    }
    .botton-witc{
        /* bottom: -119px; */
        left: 15px;
    }
}

/*link-memberships*/
/*component-header*/
.component-header{
    position: relative;
}
.carousel-index .carousel-indicators {

    bottom: unset;
    display: grid;
    justify-content: center;
    padding: 0;
    margin-right: unset;
    margin-left: 5%;
    top: 50%;
}
[dir="rtl"] .carousel-index .carousel-indicators {
    right: unset;
}
[dir="ltr"] .carousel-index .carousel-indicators {
    left: unset;
    margin-right: 5%;
}
.carousel-index .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1F9DAC;
}
.carousel-index .carousel-indicators .active {
    opacity: 1;
    height: 30px;
    width: 8px;
    border-radius: 32%;
}
.carousel-index .carousel-item img{
    height: 100%;
}
.floating-btns .btn{
    background-color: #87C55F;
    color: #fff;
    font-size: 20px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.carousel-index .carousel-caption {
    /* min-height: 100vh; */
    padding-top: 20%;
    padding-bottom: 3%;
    text-align: start;
    z-index: 3;
    background-color: #DDE7E7;
    bottom: 0rem;
    right: 0px;
    left: 0px;
    width: 39%;
    margin: 0px;
}
@media (max-width:990px)  {
    .carousel-index .carousel-caption {
        width: 100%;
        position: relative;
    }

}
@media (min-width:990px) and (max-width:1130px) {
.carousel-index .carousel-caption {
    width: 50%;
}
.caption-buttom{
    margin-bottom: 0px !important;
}
}
.caption-buttom .p-caption-carousel{
color: #0A3639;
font-size: 16px;
font-weight: 400;
padding-top: 10px;
line-height: 40px;
}
.title-caption-index{
    color: #1F9DAC;
    font-size: 35px;
    font-weight: bold;
    line-height: 60px;
}
.carousel-index .caption-buttom{
    position: relative;
    margin-bottom: 5px !important;
}
.carousel-index .caption-buttom::before {
    content: '';
    width: 34px;
    height: 10px;
    top: 25px;
    background-image: url(../img/line-slider.png);
    z-index: 1000;
    right: 5px;
    position: absolute;
    }
[dir="rtl"] .carousel-index .caption-buttom{
    padding-right: 13%;
    }
    [dir="ltr"] .carousel-index .caption-buttom::before {
  left:5px;
  float: left;
  transform: rotate(180deg);
    }
    [dir="ltr"] .carousel-index .caption-buttom{
        padding-left: 13%;
        }
    .title-new-view{
        color: #87C55F;
        font-size: 35px;
        font-weight: bold;

    }
    .donation-btns a{

        border: 0px;
        color: #1F9DAC;
        box-shadow: 0px 3px 20px #00000030;
        background-color: #fff;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        margin-bottom: 0px;


    }
    [dir="rtl"] .donation-btns a{
        border-bottom-left-radius: 22px;
        border-top-left-radius: 22px;
        padding-right: 5px;
    }
    [dir="ltr"] .donation-btns a{
        border-bottom-right-radius: 22px;
        border-top-right-radius: 22px;
    }
    .donation-btns a i{
        background-color: #1F9DAC;
        color: #fff;
        padding: 9px;

        line-height: normal;

    }
    [dir="rtl"] .donation-btns a i{
        border-bottom-left-radius: 22px;
        border-top-left-radius: 22px;
        margin-right: 10px;
    }
    [dir="ltr"] .donation-btns a i{
        border-bottom-right-radius: 22px;
        border-top-right-radius: 22px;
        margin-left: 10px;
    }
    .donation-btns{
        padding: 0px;
        position: absolute;
    bottom: 47%;
    z-index: 2;
    }
    .botoon-top{
        top: 35% !important;
    }
    .botoon-button{
        bottom: 50%;
    }
/*component-header*/
/*new-bage*/
.coarousel-new .img-new-boject {
    height: 400px;
}
.coarousel-new .carousel-control-next, .coarousel-new .carousel-control-prev {
    position: relative;
    background-color: #EFEFEF;
    color: #000;
    width: 40px;
    height: 40px;
    opacity: 1;
}
.coarousel-new .carousel-control-prev-icon {
    background-image:url(../img/right.png);
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
}
.coarousel-new .carousel-control-next-icon {
    background-image: url(../img/left-arrow.png);
    width: 1rem;
    height: 1rem;
}
.carousel-captio h5{
    color: #1F9DAC;
    font-size: 25px;
    line-height: 50px;
    font-weight: bold;
}
.tx-icon-new{
    color: #504F4F;
    font-size: 20px;
    font-weight: 400;
}
.tx-icon-new i,.component-new-new i{
    color: #87C55F;
}
.carousel-captio p {
    color: #00000080;
    line-height: 40px;
}
.component-new-new img {
    width: 100%;
    height: 250px;
    border: 1px solid #707070;
}
.component-new-new h6{
    color: #1F9DAC;
}
.component-new-new p{
    color: #504F4F;
    font-weight: 400;
}
/*end-new-bage*/
/*start-pictures*/
.item-card .card{
border: 0px;

}
.item-card .card img{
width: 100%;
height: 180px;
}

    .item-card .card img:hover{
        transform: scale(2.1);
        z-index: 2;
        -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
      }


@media (max-width: 700px) {
    .item-card .card img{
        width: 100%;
        height: 122px;
        }

}
.item-card h6{
    color: #1F9DAC;
    font-weight: 400;
    font-size: 25px;
    text-transform: capitalize;
}
.item-card span{
    color: #87C560;
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
}
.component-pictures .row{
    margin: 0px;
}
/*end-pictures*/
/*start-video*/
.account-link-login a{
    border-radius: 8px;
    padding: 5px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    text-transform: capitalize;
    border: 1px solid #87C55F;
}
.create-account{
    color: #87C55F;


}
.link-Login{
    background-color: #87C55F;
    color: #fff;
}
.row-video{
    margin: 0px;
}
.row-video .col{
margin-top: 0px;
}
.card-new-video{
    width: 100%;
}
.card-new-video video{
    width: 100%;
    min-height: 100%;

}
#myVideo img{
    width: 100%;
    min-height: 100%;
    height: 200px;
}
.video-date,.video-datee{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: relative;
    cursor: pointer;
    background-color: #dddddc;
}
.video-datee{
    height: 300px; /*8-9-2022*/
    background-image: url(../img/video-how.png);
    background-size: cover;
    background-position: center;

}
.div-button{
    position: absolute;
    bottom: 0px;
    top: 1px;
    left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: transform 600ms ease-out;
    transform-origin: 50% 100%;
    /* transform: scale(0); */
    width: 100%;
    background-color: #00000050;

    cursor: pointer;
    background-size: cover;
    background-position: center;
}
.div-video-tow{
    background-image: url(../img/video-how.png);
}
#myBtn{
    width: 50px;
    height: 50px;
    background-image: url(../img/play.png);
    background-repeat: no-repeat;
    z-index: 999;
    background-size: cover;
    cursor: pointer !important;
    border: 0px;
    border-radius: 50%;

}
.model-video .video-date,.model-video video{
width: 100%;
}
@media (min-width: 576px){

        .model-video {

            --bs-modal-width: 756px;
    }
}
.card-body-video{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100%; */
    width: 100%;
    /* opacity: 0; */
    transition: .3s ease;
    padding: 2px;
}

.card-body-video h6{
    color: #1F9DAC;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;

}
.card-body-video span{
    color: #87C560;
    font-size: 19px;
    font-weight: 400;

}
.card-new-video:hover .div-button{
    transform: scale(1);
}
.card-new-video:hover .card-body-video{
    opacity: 1;
}
.carousel-item #myVideo{
    width: 100%;
    min-height: 100%;
}
.coarousel-new .pre-video{
    color: #969494;
    font-size: 20px !important;
    font-weight: 400 !important;
    margin-bottom: 0px;
}
.carousel-item .div-button{
    transform: scale(1);
}
/*end-video*/
/*login*/
.title-login{
    color: #1F9DAC;
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;
}
.title-login img{
    width: 54px;
    height: 44px;
    padding-left: 5px;
    padding-right: 5px;
}
.form-login .form-control,.form-login .btn-submit,.form-login .form-select{
    box-shadow: 0px 3px 50px #7876762b;
}
.form-login input::placeholder{
    color: #504f4f33;
}
.link-login-number{
    color:#1F9DAC;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: underline;
}
.form-login .form-check .form-check-input {

    margin-left: -0.5em;
}
.form-login .form-check label{
    margin-left: 10px;
    margin-right: 10px;
   color: #969494;
   font-size: 16px;
}
.form-login .form-check-input{
    border: 1px solid #87C55F;
    border-radius: 0px;
}
.custom-file{

    background-color: #87C55F;
    padding: 0.575rem 1.75rem;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0px;
  }
  .custom-file-input{
    position:absolute;
    left:0;
    top:0;
    cursor:pointer;
    opacity:0;
    z-index:100;
  }
  .custom-file img{
    display:inline-block;
    vertical-align:middle;
    margin-right:5px;
    width: 20px;
    height: 20px;
  }
  ul.file-list{
    font-family:arial;
    list-style: none;
    padding:0;
  }
  ul.file-list li{
    border-bottom:1px solid #ddd;
    padding:5px;
  }
  .remove-list{
    cursor:pointer;
    margin-left:10px;
  }
  .color-copy{
      color: #1F9DAC;
      text-decoration: underline;

  }
  .content-Privacy{
      text-align: center;
      color: #969494;
      font-size: 20px;
      font-weight: bold;
  }
/*end-login*/
/*explanation*/
.background-img img{
    width: 100%;
    height: 100%;
}
.identification-explanation{
    position: relative;
}
.component-p-explanat{
    /* position: absolute; */
    right: 0px;
    left: 0px;
    bottom: 30%;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0px 3px 68px #A4A3A3;
}
@media (min-width: 990px) {
    .component-p-explanat{
        position: absolute;
    }
}
.component-p-explanat p{
    color: #969494;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 40px;
    margin: auto;
}
.link-join{
    background-color: #1F9DAC;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
}
/*end-explanation*/
/*associations*/
.b-img{
    box-shadow: 0px 3px 20px #0000002e;

}
.col-img-associations img{
    width:90%;
    height: 160px;
    margin: auto;
    display: flex;
    padding: 13px 0px;
}
@media (max-width: 1024px) {
    .col-img-associations img{
        width:80%;
        height: 98px;
    }
}
@media (max-width: 550px) {
    .col-img-associations img{
        width:50%;
        height: 134px;
    }

}
.component-associations .row{
    margin: 0px;
}
.create-account:hover{
    background-color: #87c55f61;
    color: #000;
}
.account-associations-login{
    box-shadow: 0px 3px 20px #0000002e;
    margin-top: var(--bs-gutter-y);
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr;
}
.img-ass-login img{
width: 195px;
height: 180px;
}
.link-Login-ass,.create-account-ass{
    font-size: 26px;
    font-weight: 400;
    line-height: 60px;
    border-radius: 8px;
    padding: 10px 20px;
}
@media (max-width: 1000px) {
    .link-Login-ass,.create-account-ass{
        font-size: 16px;
    }
}
.create-account-ass{
    background-color: #0A3639;

    color: #FFFFFF;

}
.link-Login-ass{
    box-shadow: 0px 3px 20px #0000002e;
    background-color: #FFFFFF;
    color: #0A3639;
}

/*end-associations*/
/*initiatives*/
.component-initiatives .accordion-item{
border: 0px;
padding-bottom: 15px;
}
.component-initiatives .accordion-button{
    box-shadow: 0px 3px 40px #00000030;
}
.component-initiatives .accordion-button:focus{
    border-color:transparent;
}
.component-initiatives .accordion-button:not(.collapsed){
    background-color: #fff;
}
.component-initiatives .accordion-header h6{
color: #1F9DAC;
font-size: 20px;
font-weight: bold;

}
@media (max-width: 576px) {
    .component-initiatives .accordion-header h6{
        font-size: 12px;
    }
}
.component-initiatives .accordion-collapse{
padding-top: 10px;
padding-bottom: 10px;
}
.span-initives{
    color: #87C55F;
    font-weight: 400;
    margin-left:10px;
    margin-right: 10px;
}
.title-accordion{
    background-color: #1F9DAC;
    text-align: center;
    padding: 20px;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}
.col-box,.col-questions{
    box-shadow: 0px 3px 20px #00000029;
    padding: 0px;
}
.box-title p,.box-title ul{
padding: 10px;
color: #504F4F;
font-weight: 400;
font-size: 18px;
}
.box-title ul{
    list-style: decimal;
    padding: 10px 30px;

}
.box-title ul li::marker{
    color: #1F9DAC;
}
.text-initiatives-head{
    position: relative;
}
.text-initiatives-head{

    border-bottom: 1px solid #87C55F;
}

/*end-initiatives*/
/*Regulations and Policies*/
.p-policies{
    color: #504F4F;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
}
.btn-policies{
    background-color: #1F9DAC;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0px;
}
.btn-policies span{
    text-decoration: underline;
}
.btn-policies img{
    width: 30px;
    height: 30px;
}
/*Regulations and Policies*/
/*questions*/
.col-questions {
    padding: 10px 20px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}
.col-questions a{
    width: 100%;
    font-weight: bold;
    color: #1F9DAC;
    font-size: 20px;
    display: flex;
    justify-content: space-between;

}
@media (max-width: 576px) {
    .col-questions a{

        font-size: 14px;

    }
}
.col-questions a span{
    color:#87C55F;
}
.img-general-frame img,.img-general-frame-one img{
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    margin-top: 20px;
}
.img-general-frame-one img{
width: 90%;
}
.ul-latest,.component-communicate,.p-questions,
.component-communicate pre
{
    color: #504F4F !important;
    font-weight: 400;
    font-size: 22px;
    line-height: 45px;
}
.component-communicate pre{
    font-size: 25px;
    line-height: 29px;
}
.ul-latest li{
    list-style: "-";
    padding: 0px 20px;
}
@media (max-width:550px) {
    [dir="rtl"] .ul-latest li{
    margin-right: 22px;
    }
    [dir="ltr"] .ul-latest li{
        margin-left: 22px;
        }
}
.ul-donor li{
    list-style:decimal;
}
.ul-latest li::marker{
    color: #87C55F;
}
.link-questions{
    color: #1F9DAC;
    font-weight: bold;
margin: 0px 20px;
text-decoration: underline;
font-size: 22px;

}
.card-board{
    border: 0px;

}
.component-board .card-board:not(:last-child){
    border-bottom: 2px solid #504f4f2b;
}
.img-board{
    max-width: 200px;
height: 200px;
margin: auto;
display: flex;
}

.card-board .card-title{
    color: #504F4F;
    font-size: 25px;
    font-weight: bold;
}
@media (max-width: 990px){
    .card-board .card-title{
        font-size: 18px;
    }
}
.card-board .card-title span,.ul-latest span{
    color: #1F9DAC;
}
.ul-latest span{
    font-weight: bold;
}
.card-board .card-text{
    color: #87C55F;
    font-size: 20px;
    font-weight: bold;
}
.component-missions{
    border-bottom: 1px solid #7070705e;
}
/*questions */
/*start-about*/
.row-about{
    align-items: start;
}
.row-about-definition .row-about:not(:last-child){
    border-bottom: 1px solid #70707039;
    padding-bottom: 20px;
    padding-top: 20px;
}
.row-about .about-img {
    width: 100%;
    height: 100%;
}
.definition-p{
    color: #504F4F;
    font-size: 20px;
    font-weight: 400;
}
.box-vision{
    margin: auto;
    border-radius: 15px;
   border: 3px solid #E6E6E6;
    padding: 10px;

}
.vision-col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.vision-row{
    width: 100%;
    height: 100%;
}
/*end-about*/
/*Committees*/
.card-board-committees {
    background-color: #FDFDFD;
    padding: 20px 30px;
    margin-bottom: 20px;
}
.defintion-committees .card-title,.ul-list-disc li::marker{
    color: #87C55F;
    font-size: 20px;
}
.defintion-committees .card-text{
    color: #504F4F;
    font-size: 24px;
    font-weight: bold;
}
.ul-list-disc li{
    list-style: disc;
}
.p-text-committies{
    color: #504F4F;
    font-size: 30px;
    font-weight: bold;
}
.linke-committees a{
    color: #87C55F;
    font-weight: bold;
    font-size: 20px;
}
/*Committees*/
/*donation*/
.title-donation strong{
    color: #1F9DAC;
    font-size: 25px;
    text-transform: capitalize;
    border-bottom: 1px solid #87C55F;
}
.img-bank {
    width: 80%;
    height:max-content;
    margin: auto;
    display: flex;
}
.content-bank{
    box-shadow:0px 3px 20px #00000026 ;
}
.defintion-bank .title-bank-one{
    color: #1F9DAC;
    font-size: 20px;
    font-weight: 400;
}
.title-bank-tow{
    color: #504F4F;
    font-weight: bold;
    font-size: 25px;
}
.title-p-bank {
    color: #1F9DAC;
    font-size: 16px;
}
[dir="rtl"] .title-p-bank{
    direction: ltr;
    text-align: right;
}
.title-p-bank span{
    color: #87C55F;
}
.img-in-kind{
    margin: auto;
    display: flex;
    height: 190px;
    width: 184px;
}
/*donation*/
/*contribute-with-us*/
.d-Contribute{
    border: 5px solid #E6E6E6;

    border-radius: 10px;
}
.d-Contribute:hover{
    border: 5px solid #1f9eac36;
    border-radius: 20px;
}
.d-Contribute img{
    width: 86px;
    height: 89px;
    margin: auto;
}
.d-Contribute a{
    color:#504F4F;
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;
}
/*end-contribute-with-us*/
/*start-reuests*/
.account-link-login h6{
    font-weight: 400;
    color: #0A3639;
    font-size: 22px;
}
.nav-request {
    box-shadow:0px 3px 20px #00000026 ;
    margin-bottom: 20px;
}
.nav-request a:not(:last-child){
    border-bottom: 1px solid #70707030;
}
.btn-request{
    border: 5px solid #E6E6E6;
    color: #504F4F;
    font-weight: bold;
    font-size: 20px;
    width: 142px;
    padding: 10px;
}
.btn-request:hover{
    border: 5px solid #1f9eac36;
}
.nav-request a{
    color:#969494;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
}
.nav-request .active{
background-color: #1F9DAC;
color: #fff;
}
.title-from-raise{
    color:#1F9DAC;
    font-weight: bold;
    font-size: 20px;
}
.data-request{
    box-shadow:0px 3px 20px #00000026 ;
}
.data-request h6{
    color: #1F9DAC;
    font-weight: 400;
    font-size: 20px;
}
.data-request h6 span,.date-request,
.p-raise-requests
{
color: #504F4F;
font-weight: 400;
}
.date-request i{
    color: #87C55F;
}
.p-raise-requests{
font-size: 16px;
}
.col-raise{
    border-bottom: 1px solid #70707039;
    padding-bottom: 10px;
}
/*end-reuests*/
/*start-communicate*/
.img-communic{
    height: 100%;
    margin: auto;
    width: 80%;
    display: flex;
}
.title-communic-one{
    color: #504F4F;
    font-weight: bold;
    font-size: 28px;
}
.title-co{
    font-weight: bold;
    font-size: 20px;
    color: #87C55F;
}
.email-co a{
color: #504F4F;
font-weight: 400;
font-size: 20px;
text-transform: capitalize;
}
.email-co  span{
    color: #1F9DAC !important;
    font-weight: 400;
font-size: 20px;
}
.email-co  span i{
    color: #87C55F;
    font-size: 16px;

}
[dir="rtl"] .email-co  span i{
    margin-left:5px ;
}
[dir="ltr"] .email-co  span i{
    margin-right:5px ;
}
/*end-communicate*/
/*assmbly-account*/
.component-modify{
    box-shadow:0px 3px 20px #00000026 ;

}
@media (max-width: 990px){
    .component-modify{
        padding: 1rem!important;
    }
}
.form-content label{
    color: #1F9DAC;
    font-size: 15px;
    font-weight: 400;
}
.component-edit img{
width: 30px;
height: 30px;
}
.component-edit span{
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
    color: #1F9DAC;
}

.img-close img{
    width: 30px;
    height: 30px;
}
@media (max-width:990px) {
    .img-close{
        margin-top: 20px;
        padding: 10px;
    }
}
.title-jop{
    color:#87C560;
    font-size: 16px;
    font-weight: 400;
}
.title-jop-defintion{
    color: #1F9DAC;
    font-size: 30px;
    font-weight: 400;
}
pre{
    white-space: pre-line;
    word-break: keep-all;
    overflow: unset !important
}
[dir="rtl"] pre{
    font-family: 'TheSans','sans-serif' !important;
}
[dir="ltr"] pre{
    font-family: 'Simplified' !important;
}
.pre-jobs{
    color: #767575;
    font-size: 20px;
    font-weight: 400;
}
.a-linke-join{
    background-color: #1F9DAC;
    border-radius: 16px;
    padding: 10px 30px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 25px;
}
.component-modify .component-jop:not(:last-of-type){
    border-bottom: 1px solid #70707039;
}
/*end-assmbly-account*/
/*administrative*/
.structure-chart{
    width: 100%;
    height: 100%;
}
.carousel-captio .row,.component-new-new .row,
.component-footer .row
{
    margin-left: 0px;
    margin-right: 0px;
}
/* remove input number arrows Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* remove input number arrows Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.form-control:focus {
    color: #504f4f59;
}

@media (max-width: 990px){
    .row-nav-top{
        justify-content: center !important;
    }
    .link-nav-top{
        order: 2;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .title-page-left{
        order: 1;
    }
    .col-Social-Media{
        order: 3;
    }
}
